﻿<head>
	<meta charset="utf-8" />
	<title>Introduction to gameplay programming</title>
</head>

<body style= "background-color : black;">
	<center>
		<p id="moveCounter" style="color: white;">Moves: 0</p>
		<canvas id="myCanvas" width="800" height= "600" style="background-color: white;"></canvas>
		<form>
			<button id ="saveButton" type="button">Save</button>
			<button id ="loadButton" type="button">Load</button>
			<button id ="playButton" type="button">Play</button>
			<br/>
			<textarea id = "levelText"></textarea>
		</form>
		
		</center>
	<script src="game.js"></script>
<body>